{% from "_dropdown_nav.html" import dropdown_nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spotify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('auth.login')}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('auth.register')}}">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link  text-white" href="{{url_for('auth.profile')}}">Profile</a>
                </li>
                <!-- roles nav (requires admin )-->
                    {% if current_user.has_role("Admin") %}
                    {% set roles = [
                    ("roles.add", "Add"),
                    ("roles.list", "List"),
                    ("roles.assign", "Assign")
                    ] %}
                    {{dropdown_nav("Roles", roles)}}
                    <!-- track nav (requires admin )-->
                    {% set track = [
                    ("tracks.fetch", "Fetch"),
                    ("tracks.add", "Add"),
                    ("tracks.list", "List"),
                    ] %}
                    {{dropdown_nav("Track", track)}}
                    {% set albums = [
                    ("albums.fetch", "Fetch"),
                    ("albums.add", "Add"),
                    ("albums.list", "List"),
                    ] %}
                    {{dropdown_nav("Albums", albums)}}
                    {% set artist = [
                    ("artists.fetch", "Fetch"),
                    ("artists.add", "Add"),
                    ("artists.list", "List"),
                    ] %}
                    {{dropdown_nav("Artist", artist)}}
                    {%else%}
                    {% set track = [
                    ("tracks.list", "List"),
                    ] %}
                    {{dropdown_nav("Track", track)}}
                    {% set albums = [
                    ("albums.list", "List"),
                    ] %}
                    {{dropdown_nav("Albums", albums)}}
                    {% set artist = [
                    ("artists.list", "List"),
                    ] %}
                    {{dropdown_nav("Artist", artist)}}
                    {%endif%}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('auth.logout')}}">Logout</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" action="/search" method="GET">
                <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
