{% extends "layout.html" %}
{% block title %}Home{% endblock %}

<!-- content -->
{% block content %}
<div class="container-fluid">
    <h1>Welcome To MusiC</h1>
    <div class="card-group">
        {% for result in tracks %}
        <div class="card bg-dark text-white" style="max-width: 20%;">
            <div class="image-container text-right"> 
                <img class="img-fluid img-thumbnail card-img-top" src="{{ result.track_img }}"  alt="{{ result.name }}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ result.artist_name }}</h5>
                <p class="card-text">{{ result.album_name }}</p>
                <p class="card-text" style="color: green;">Listen to it on Spotify :</p>
                <a href="{{ result.track_uri }}" class="card-text" style="color: rgb(6, 177, 6);"><i class="fab fa-spotify"></i>Desktop</a>
                <a href="https://open.spotify.com/track/{{result.track_id}}" class="card-text" style="color: rgb(6, 177, 6);"><i class="fab fa-spotify"></i> Browser</a>
            </div>
            <div class="card-footer">
                <small class="text-muted" style="text-transform: capitalize;">
                    <a href="{{url_for('tracks.view', id=result.id)}}">View </a>
                </small>
            </div>
        </div>
        {% if loop.index % 5 == 0 %}
        <div class="w-100"></div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}