{% extends "layout.html" %}
{% block title %}Home{% endblock %}

<!-- content -->
{% block content %}
<div class="container-fluid">
    <h1 class="animate__animated animate__backInLeft">Welcome To MusiC</h1>
    <div class="card-group animate__animated animate__fadeInUp">
        {% for result in tracks %}
        <div class="card bg-dark text-white" style="max-width: 20%;">
            <img src="{{ result.track_img }}" class="card-img-top" alt="{{ result.track_name }}">
            <div class="card-body">
                <h5 class="card-title">{{ result.track_name }}</h5>
                <p class="card-text"> {{result.album_name}}<br>
                    <i class="fas fa-fire" style="color: red;"></i>{{result.track_popularity}}<br>
                <a href="{{ result.uri }}" class="card-text" style="color: rgb(0, 168, 0);"><i class="fab fa-spotify"></i> Desktop</a> &nbsp;
                                <a href="https://open.spotify.com/track/{{result.track_id}}" class="card-text" style="color: rgb(6, 177, 6);"><i class="fab fa-spotify"></i> Browser</a>
                
            </div>
            <div class="card-footer">
                <small class="text-muted" style="text-transform: capitalize; float: left;">
                    <a href="{{url_for('tracks.view', id=result.id)}}" style="text-decoration: none; color:rgb(101, 101, 101)"><i class="fas fa-eye" style="color: aqua;"></i> View</a>
                </small>
                <small class="text-muted" style="text-transform: capitalize; float: right; color:yellow"><i class="fas fa-clock" style="color: yellow;"></i>
                    {{ (result.duration_ms // 60000) }} minutes {{ ((result.duration_ms % 60000) // 1000) }} seconds
                </small> 
            </div>
        </div>
        {% if loop.index % 5 == 0 %}
        <div class="w-100"></div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}