{% extends "layout.html" %}
{% block title %}Artists{% endblock %}

<!-- content -->
{% block content %}
{% from "_table_helper.html" import render_table %}
{% set view = "artists.view" %}
{% if current_user.has_role("Admin") %}
{% set edit = "artists.edit" %}
{% set delete = "artists.delete" %}
{% else %}
{% set edit = None %}
{% set delete = None %}
{% endif %}
<div class="container-fluid">
    {% include '_artists_search.html' %}


    {{ render_table(rows, "Artists", ["id"], view, edit, delete) }}
</div>
{% endblock %}